/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PAGE STYLING BEGINS */

/* MULTIPLE AREA STYLE */

:root {
	--background: rgba(80, 35, 11, 0.7);
	--yellow: rgb(248, 226, 103);
	--silver: aliceblue;
	--teal: rgb(50, 151, 177);
	--border: rgb(100, 40, 7);
	--buttonsize: 20px;
	--logofont: "logofont", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	--lowerfont: "lowerfont", Georgia, 'Times New Roman', Times, serif;
	--basicfont: "basicfont", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
	font-family: "logofont";
	src: url("media/Shrikhand-Regular.ttf");
}

@font-face {
	font-family: "lowerfont";
	src: url("media/KaushanScript-Regular.ttf");
}

@font-face {
	font-family: "basicfont";
	src: url("media/Fredoka-VariableFont_wdth,wght.ttf");
}

button {
	font-family: var(--basicfont);
	cursor: pointer;
	font-size: var(--buttonsize);
}

#content {
	background-image: url("media/tablefood.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 5fr;
	font-family: var(--basicfont);
}

.restaurantNameTop {
	color: var(--yellow);
	font-family: var(--logofont);
}

.restaurantNameBottom {
	color: var(--silver);
	font-family: var(--lowerfont);
	text-align: end;
}

/* HEADER STYLE */

#headerContainer {
	width: 100vw;
	background-color: var(--background);
	display: grid;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	border-bottom: 2px ridge var(--border);
}

#restaurantNameContainerHeader {
	width: fit-content;
	align-self: end;
	margin-left: 20vw;
	line-height: 172%;
}

#restaurantNameHeaderTop {
	font-size: 35px;
}

#restaurantNameHeaderBottom {
	font-size: 30px;
}

#navButtonContainer {
	grid-row: 2 / 3;
	width: 30%;
	display: flex;
	justify-self: end;
	justify-content: space-evenly;
	margin-right: 20vw;
}

.navButtons {
	color: var(--silver);
	background-color: transparent;
	transition: 0.1s;
	border-style: none;
	padding-bottom: 10px;
}

.navButtons:hover {
	border-bottom: 2px solid var(--silver);
}

.navButtons:active, .navButtons:disabled:hover {
	color: var(--yellow);
	border-bottom: 2px solid var(--yellow);
}

.navButtons:disabled {
	color: var(--yellow);
}

/* HOME STYLE */

#homeContainer {
	background-color: var(--background);
	justify-self: center;
	align-self: center;
	height: fit-content;
	width: 50vw;
	min-width: fit-content;
	padding: 3vh;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	border-style: ridge;
	border-color: var(--border);
	border-width: 2px;
	gap: 20px;
}

#restaurantNameContainerHome {
	line-height: 280%;
	justify-self: center;
}

#restaurantNameHomeTop {
	font-size: 55px;
}

#restaurantNameHomeBottom {
	font-size: 50px;
}

#descriptionContainer {
	color: var(--silver);
	font-size: 22px;
	display: grid;
	text-align: center;
	gap: 10px;
}

#orderButtonContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 10px;
}

.orderButtons {
	color: var(--teal);
	border-color: var(--teal);
	border-style: solid;
	background-color: transparent;
	padding: 15px;
	border-width: 3px;
	border-radius: 10px;
	font-weight: 700;
	transition: 0.3s;
}

.orderButtons:hover {
	background-color: var(--silver);
}

.orderButtons:active {
	color: var(--silver);
	border-color: var(--silver);
	background-color: var(--teal);
}